<div class="login-container">
  <form class="login-form" (submit)="onLogin()">
    <h2>Login to Your Account</h2>

    <div class="input-group">
      <mat-icon class="icon">person</mat-icon>
      <input type="text" placeholder="Username" [(ngModel)]="username" name="username" required />
    </div>

    <div class="input-group password-group">
      <mat-icon class="icon">lock</mat-icon>
      <input [type]="showPassword ? 'text' : 'password'" placeholder="Password" [(ngModel)]="password" name="password" required />
      <mat-icon class="toggle-password" (click)="togglePasswordVisibility()">{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
    </div>

    <button type="submit">Login</button>

    <div class="links-container">
      <div class="redirect-link">
        Don’t have an account? <a routerLink="/register">Register here</a>
      </div>
    </div>
  </form>
</div>
