/* styles.css - Global Styles */

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%; /* Ensure body takes full height */
  font-family: "Arial", sans-serif;
  background-color: #f3f4f6; /* Background Color for Whole App */
  display: flex;
  justify-content: center; /* Center Horizontally */
  align-items: center; /* Center Vertically */
}
