<div class="register-container">
  <div class="register-card">
    <div class="image-container">
      <img src="assets/signup-avatar.png" alt="Avatar" class="avatar-img" />
    </div>
    <div class="form-container">
      <h2>Create Account</h2>
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <i class="fa fa-user icon"></i>
          <input formControlName="name" placeholder="Name" required />
        </div>
        <div class="input-group">
          <i class="fa fa-envelope icon"></i>
          <input formControlName="email" placeholder="Email" required />
        </div>
        <div class="input-group">
          <i class="fa fa-user-circle icon"></i>
          <input formControlName="username" placeholder="Username" required />
        </div>
        <div class="input-group password-group">
          <i class="fa fa-lock icon"></i>
          <input
            type="{{ showPassword ? 'text' : 'password' }}"
            formControlName="password"
            placeholder="Password"
            required
          />
          <i
            class="fa"
            [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
            (click)="togglePassword()"
          ></i>
        </div>
        <div class="input-group password-group">
          <i class="fa fa-lock icon"></i>
          <input
            type="{{ showConfirmPassword ? 'text' : 'password' }}"
            formControlName="confirmPassword"
            placeholder="Confirm Password"
            required
          />
          <i
            class="fa"
            [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
            (click)="toggleConfirmPassword()"
          ></i>
        </div>
        <button type="submit" class="register-btn">Create Account</button>
        <div class="toggle-link">
          <span>Already have an account? Log in</span>
        </div>
      </form>
    </div>
  </div>
</div>
