.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #7A1CAC;
}

.register-box {
  background-color: #EBD3F8;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.register-box h2 {
  color: #2E073F;
}

.input-box {
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f9f9f9;
  transition: 0.3s;
}

.input-box input:focus {
  box-shadow: 0 0 5px #7A1CAC;
}

.register-btn {
  background-color: #7A1CAC;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.register-btn:hover {
  background-color: #5C1284;
}
