<div class="register-container">
  <form class="register-form" (submit)="onRegister()">
    <h2>Create an Account</h2>

    <div class="input-group">
      <mat-icon class="icon">person</mat-icon>
      <input type="text" placeholder="Name" [(ngModel)]="name" name="name" required />
    </div>

    <div class="input-group">
      <mat-icon class="icon">phone</mat-icon>
      <input type="tel" placeholder="Phone Number" [(ngModel)]="phoneNum" name="phoneNum" required />
    </div>

    <div class="input-group">
      <mat-icon class="icon">email</mat-icon>
      <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required />
    </div>

    <div class="input-group">
      <mat-icon class="icon">person</mat-icon>
      <input type="text" placeholder="Username" [(ngModel)]="username" name="username" required />
    </div>

    <div class="input-group password-group">
      <mat-icon class="icon">lock</mat-icon>
      <input [type]="showPassword ? 'text' : 'password'" placeholder="Password" [(ngModel)]="password" name="password" required />
      <mat-icon class="toggle-password" (click)="togglePasswordVisibility()">{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
    </div>

    <div class="input-group password-group">
      <mat-icon class="icon">lock</mat-icon>
      <input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword" required />
      <mat-icon class="toggle-password" (click)="toggleConfirmPasswordVisibility()">{{ showConfirmPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
    </div>

    <button type="submit">Register</button>

    <!-- Links Container -->
    <div class="links-container">
      <div class="redirect-link">
        Already have an account? <a routerLink="/login">Login here</a>
      </div>
    </div>
  </form>
</div>
